<h2>Users</h2>

<!-- <div *ngIf="users$ | async as user">-->
<table>
  <tbody>
    <tr *ngFor="let item of data">
      <td>Id{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.username }}</td>
      <td>{{ item.email }}</td>
      <!-- <td>{{ item.suite.suite }}</td>-->
      <td>
        <!-- <a routerLink="/user-suite/user-suite">suite</a>-->
        <a routerLink="user-suite">{{ item.suite.street }}</a>
      </td>
      <td>{{ item.phone }}</td>
      <td>{{ item.website }}</td>
      <!--<td>{{ item.company.name }}</td>-->
      <td><a routerLink="companyDetails">company</a></td>
    </tr>
  </tbody>
</table>
<table>
  <tr *ngFor="let item of data">
    <td>name "{{ item.name }}"</td>
    <td>street {{ item.address.street }}</td>
    <!--<td>{{ item.company.name }}</td>
          <td><a routerLink="companyDetails">company</a></td>-->
  </tr>
</table>

<nav><button (click)="gotoUsers()">Go to Users</button></nav>
<nav>
  <button
    (click)="back()"
    mat-raised-button
    color="accent"
    routerlink="/user-form"
  >
    Back
  </button>
</nav>

<!--</div>-->
